

h1, h2, h3, .Playfair-Display {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3rem;

}
.cagliostro-regular {
  font-family: "Cagliostro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


.social-lift {
  transition: transform 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Subtle white border */
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-lift:hover {
  transform: translateY(-5px); /* Moves the circle up */
  border-color: rgba(255, 255, 255, 1); /* Brightens border on hover */
}

.social-lift img {
  width: 24px;
  height: 24px;
}